# star patterns

In [1]:
num=6
for i in range(num):
    print("*")

*
*
*
*
*
*

In [2]:
#right angled triangle(left-aligned)
num=6
for i in range(num):
    print("*"*i)

*
**
***
****
*****

In [3]:
n=10
for i in range(1,n+1):
    print(" *"*i)

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *
 * * * * * * *
 * * * * * * * *
 * * * * * * * * *
 * * * * * * * * * *

In [10]:
#right angled triangle(right alined)
num=6
for i in range(num):
    print(" "*(num-i-1),"*"*i)

     *
    **
   ***
  ****
 *****

In [5]:
n=10
for i in range(1,n+1):
    print("  "* (n-i)+ "* "* i)

                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *

In [5]:
#pyramid pattern
num=6
for i in range(num):
    print(" "*(num-i-1),"*"*(2*i+1))

      *
     ***
    *****
   *******
  *********
 ***********

In [6]:
n=10
for i in range(1,n+1):
    print(" "* (n-i)+ "* "* i)

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [9]:
#pyramid pattern with spaces
num=6
for i in range(num):
    for j in range(num-i-1):
        print(" ",end=" ")
    for j in range(2*i+1):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

In [16]:
#inverted pyramid
n=10
for i in range(n,0,-1):
    print(" "*(n-i)+"* "*i)

* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [1]:
num = 6
for i in range(num):
    print(" " * i, "*" * (2 * (num - i) - 1))

 ***********
  *********
   *******
    *****
     ***
      *

In [14]:
#Diamon pattern
n=10
for i in range(1,n+1):
    print(" "* (n-i)+"* "*i)
for i in range(n-1,0,-1):
    print(" "*(n-i)+"* "*i)

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [15]:
#square pattern
n=10
for i in range(1,n+1):
    print("* " *n)

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

# number patterns

In [16]:
#square of numbers
n=10
for i in range(1,n+1):
    for j in range(1,n+1):
        print(j, end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [30]:
#triangle of numbers
n=10
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [28]:
#repated numbers in rows
n=5
for i in range(1,n+1):
    print((str(i)+ " ") *i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [31]:
#floyds triangle
num=1
n=8
for i in range(1,n+1):
    for j in range(i):
        print(num, end=" ")
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36

In [36]:
#reverse number triangle
n=10
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j, end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

# Alphabet patterns

In [41]:
#alphabet triangle
n=5
for i in range(n):
    for j in range(i+1):
        print(chr(65+j),end=" ")
    print()

A
A B
A B C
A B C D
A B C D E

In [47]:
#repeating alphabet triangle
n=5
for i in range(n):
    for j in range(i+1):
        print(chr(65+i),end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

In [54]:
n=5
for i in range(n):
    print(chr(65+i)*(i+1))

A
BB
CCC
DDDD
EEEEE