In [2]:
l=int(input("length in cm:"))
b=int(input("breadth in cm:"))
a=l*b
print("your area of rectangle is:",a,"cm^2")

length in cm:8
breadth in cm:7
your area of rectangle is: 56 cm^2

In [5]:
r=int(input("enter your radius:"))
a=3.14*(r*r)
print("your area is",a)

enter your radius:5
your area is 78.5

In [6]:
l=int(input("enter length:"))
b=int(input("enter breadth:"))
h=int(input("enter height:"))
a=2*(l*b+b*h+h*l)
print("area of cuboid",a)

enter length:4
enter breadth:3
enter height:4
area of cuboid 80

In [3]:
s=int(input("enter side value:"))
a=6*(s*s)
print("area of cube:",a)

enter side value:9
area of cube: 486

In [3]:
string = 'aaaabbbcc'
x = string.count('a') + string.count('b') + string.count('c')
print(x)

9

In [1]:
def count_consecutive(text):
    result = []
    count = 1

    for i in range(1, len(text)):
        if text[i] == text[i-1]:
            count += 1
        else:
            result.append(f"{text[i-1]}:{count}")
            count = 1
    result.append(f"{text[-1]}:{count}")  # add last group

    return result
# ---- Usage ----
input_str = "aaaabbbcc"
output = count_consecutive(input_str)
for item in output:
    print(item)

a:4
b:3
c:2

In [2]:
from itertools import groupby

input_str = "aaaabbbcc"
result = [f"{char}:{sum(1 for _ in group)}" for char, group in groupby(input_str)]
for item in result:
    print(item)

a:4
b:3
c:2

In [5]:
a=3
b=a*3
print(b+1)

10

In [6]:
a='hello'
if a=='hello':
    print(True)
else:
    print(False)

True

In [12]:
a="racecar"
b=a[::-1]
if b==a:
    print("same")
else:
    print("no")

same

In [15]:
a="python"
b=a.capitalize()
if a=="Python":
    print("python")
elif b=="Python":
    print("c++")
else:
    print("java")

c++

In [16]:
a=1
b=0
if a and not b:
    print(False)
else:
    print(True)

False

In [19]:
a=5
b=5
if a is b:
    print("same")
elif a==b:
    print("Equal")
else:
    print("Different")

same

In [31]:
a="hello"+"world"
if a=="hello world":
    print("java")
else:
    print("Python")

Python

In [32]:
y="false"
if y:
    print("hello")
else:
    print("world")

hello

In [35]:
if True== False:
    print("A")
elif True+True+True==3:
    print("B")
else:
    print("C")

B

In [36]:
a= True
b= False
if a+b==1:
    print("Yes")
else:
    print("No")

Yes

In [37]:
a=([1] or (1) or "hello")
b=a
print(b)

[1]

In [38]:
a=True or False
b= a and False
c=b
print(c)

False

In [39]:
age= 17
if(age>=18 and age<=100):
    print("you are eligible")
else:
    print("you are not eligible")

you are not eligible

In [45]:
print(0.1+0.2==0.3)

False

In [50]:
a=(1,2,3,4,5)
b=a[::2]
print(b)

(1, 3, 5)

In [51]:
a=int(True and False)
print(a)

0

In [55]:
a=bool("False or True")
print(a)

True

In [54]:
a=(1,2,3,4,5)
b=a[1:3]
print(b)

(2, 3)

In [56]:
a= True or False
b=a
print(b)

True

In [58]:
cars=["Ferrari","Benz","BMW","Bugatti"]
var=cars[2]
print(var)

BMW

In [59]:
def factorial(num):
    if num==1:
        return 1
    return num*factorial(num-1)
num=5
result= factorial(num)
print("Factorial :" , result)

Factorial : 120

In [60]:
import math
print("Factorial :",math.factorial(5))

Factorial : 120

In [65]:
a=20
b=(20+a)
print(b)

40

In [66]:
a=10
b=float(a)
print(b+1)

11.0

In [67]:
print(*range(1,101))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [69]:
def p(n=1):
    if n>100:
        return
    print(n)
    p(n+1)
p()

In [70]:
num=6
for i in range(num):
    print("*")

*
*
*
*
*
*

In [71]:
num=6
for i in range(num):
    print("*"*i)

*
**
***
****
*****

In [72]:
num=6
for i in range(num):
    print(" "*(num-i-1),"*"*i)

     *
    **
   ***
  ****
 *****

In [73]:
num=6
for i in range(num):
    print(" "*(num-i-1),"*"*(2*i+1))

      *
     ***
    *****
   *******
  *********
 ***********

In [77]:
a=5
b=0
try:
    result=a/b
    print(result)
except:
    print("Cannot divide by zero")
else:
    print("Division successful!")

Cannot divide by zero

In [82]:
import calendar
yy = 2025
mm = 9  # Valid month (1-12)
print(calendar.month(yy, mm))

   September 2025
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [4]:
#check if number is positive negative or zero
num=float(input("enter a number"))
if num>0:
    print("positive number")
elif num<0:
    print(" negative number")
else:
    print("number is zero")

enter a number-6.8
 negative number

In [7]:
#swap two variables without temp variable
a=5
b=10
a,b=b,a
print("After swapping")
print("a =",a)
print("b =",b)

After swapping
a = 10
b = 5

In [10]:
#even or odd
num=int(input("enter a number:"))
if num%2==0:
    print("this is a even number")
else:
    print("This is a odd number ")

enter a number:9
This is a odd number

In [7]:
#to check leap year
year=int(input("Enter a number:"))
if (year%4==0 and year% 100!=0) or (year%400==0):
    
    print(year," is a Leap year")
else:
    print(year," is not a leap year")

Enter a number:7890
7890  is not a leap year

In [3]:
#prime number
num=int(input("Enter a number:"))
if num<1:
    print(num,"is not a prime number")
else:
    for i in range(2,num):
        if num% i==0:
            print(num,"is not a prime number")
            break
    else:
        print(num,"is a prime number")

Enter a number:67
67 is a prime number

In [33]:
#Factorial
num=int(input("Enter a number:"))
factorial=1
if num<0:
    print("Factorial does not exist for negative numbers")
elif num==0:
    print("Factorial of 0 is 1")
else:
    for i in range(1,num+1):
        factorial *=i
    print(f"factorial of {num} is:", factorial)

Enter a number:9
factorial of 9 is: 362880

In [12]:
#multiplication
num=int(input("Display multiplication table of:"))
for i in  range(1,11):
    print(f"{num} x {i}={num*i}")

Display multiplication table of:87
87 x 1=87
87 x 2=174
87 x 3=261
87 x 4=348
87 x 5=435
87 x 6=522
87 x 7=609
87 x 8=696
87 x 9=783
87 x 10=870

In [13]:
#fibonacci sequence
n=int(input("enter the number of terms: "))
a,b=0,1
count=0
if n<=0:
    print("please enter a positive number")
else:
    print("Fibonacci series:")
    while n>count:
        print(a, end=" ")
        a,b=b,a+b
        count +=1

enter the number of terms: 10
Fibonacci series:
0 1 1 2 3 5 8 13 21 34

In [17]:
#using for loop fib series(0+1=1+1=2+1=3+2=5+3=8)
n=int(input("Enter the number of terms:"))
a,b=0,1
if n<=0:
    print("please enter a positive number")
else:
    print("Fibonacci series:")
    for _ in range(n):
        print(a, end=" ")
        a,b=b,a+b

Enter the number of terms:9
Fibonacci series:
0 1 1 2 3 5 8 13 21

In [22]:
#Armstrong number(153=1^3+5^3+3^3=153)
def is_armstrong(num):
    num_str =str(num)
    n = len(num_str)
    total=0
    for digit in num_str:
        total+= int(digit) ** n
    return total == num
number=int(input("Enter a number:"))
if is_armstrong(number):
    print(f"{number} is an armstrong number")
else:
    print(f"{number} is not an armstrong number")

Enter a number:153
153 is an armstrong number

In [30]:
#while loop
num=int(input("Enter a number:"))
original_num=num
total=0
n=len(str(num))
while num>0:
    digit = num % 10
    total+= digit **n
    num//=10 # floor division
if total== original_num:
    print(f"{original_num} is an armstrong number")
else:
    print(f"{origin_num} is not an armstrong number")

Enter a number:153
153 is an armstrong number

In [27]:
342/10

34.2

In [28]:
342//10

34

In [3]:
#interval from user of armstrong number
lower=int(input("enter the lower limit of the interval:"))
upper=int(input("enter the upper limit of the interval"))
for num in range(lower,upper+1):
    order=len(str(num))#find the number of digits in num
    original_num=num
    sum=0
    while original_num>0:
        digit = original_num%10
        sum +=digit ** order
        original_num//=10 # in original place we can use 'temp'
    if num==sum:
        print(num,end=" ")

enter the lower limit of the interval:1
enter the upper limit of the interval1000
1 2 3 4 5 6 7 8 9 153 370 371 407

In [5]:
#sum of Natural numbers
n= int(input("Enter the list: "))
n=n*(n+1)//2
print(n)

Enter the list: 10
55

In [1]:
#fibonacci
n=int(input("Enter a Number:"))
a,b=0,1
for i in range(n):
    print(a, end=" ")
    a,b=b,a+b

Enter a Number:10
0 1 1 2 3 5 8 13 21 34

In [2]:
#nth term fibo
n=int(input("Enter a Number:"))
a,b=0,1
for i in range(n):
    if i ==n-1:
         print(a, end=" ")
    a,b=b,a+b

Enter a Number:9
21

In [5]:
def greet(name):
    print(f"Hello, {name}!")

greet("Alice")

Hello, Alice!

In [2]:
def greet(name):
    print(f"Hello, {name}!")

greet("Alice")

Hello, Alice!

In [6]:
def numbers(a,b):
    return a+b
print(numbers(3,5))

8

In [1]:
s = input()
words = s.split()

for w in words:
    print(w[::-1], end=" ")

we are beautiful
ew era lufituaeb